.contact {
  gap: var(--space-6);
}

.contact__intro {
  text-align: center;
}

.contact__description {
  margin-block-start: var(--space-4);
  width: min(50ch, 100%);
  margin-inline: auto;
  color: var(--text-muted);
}

.contact__form {
  gap: var(--space-4);
}

.contact__input,
.contact__textarea {
  padding: var(--space-3);
  border: none;
  background-color: var(--bg-color);
  border-radius: var(--radius-sm);
  display: block;
}

.contact__textarea {
  height: 200px;
  resize: none;
}

@media (min-width: 62rem) {
  .contact__description {
    width: min(50ch, 100%);
    margin-inline: auto;
  }

  .contact__form {
    width: 80%;
    margin-inline: auto;
  }
}
