.footer {
  gap: var(--space-6);
}

.footer__social {
  gap: var(--space-3);
  list-style: none;
}

.footer__social-link {
  background-color: var(--bg-color);
  border-radius: var(--radius-circle);
  height: var(--space-8);
  width: var(--space-8);
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-md);
  transition: var(--transition);
}

.footer__social-link:hover {
  background-color: var(--color-primary);
  transform: translateY(-5px);
}

.footer__copyrights {
  color: var(--text-muted);
}

.footer__year {
  color: var(--color-primary);
  font-weight: var(--fw-bold);
}
