.header {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset-block-start: var(--space-4);
  inset-inline-start: 50%;
  transform: translateX(-50%);
  height: var(--header-height);
  padding-block: var(--space-4);
  margin-block-start: 0;
  z-index: 9999;
}

.header__logo {
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  text-decoration: none;
  color: inherit;
}

.header__logo span {
  color: var(--color-primary);
}

.header__toggler {
  border: 2px solid var(--bg-color);
  padding-inline: var(--space-3);
}

.header__nav--open {
  inset-block-start: calc(100% + var(--space-4));
  inset-inline: 0;
  position: absolute;
  border: 1px solid var(--color-secondary);
  padding: var(--space-4);
  display: block;
  border-radius: var(--radius-md);
  background-color: var(--bg-color-alt);
}

.header__menu {
  gap: var(--space-2);
  list-style: none;
  flex-direction: column;
}

.header__menu-link {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
  display: block;
  padding-inline: var(--space-3);
  padding-block: var(--space-2);
  border-radius: var(--radius-sm);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

.header__menu-link:hover {
  color: var(--color-primary);
}

.header__menu-link--active {
  color: var(--color-primary);
  background-color: var(--bg-color);
}

@media (min-width: 48rem) {
  .header__toggler {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .header__menu {
    gap: var(--space-3);
    list-style: none;
    flex-direction: row;
  }
}
